@{
    ViewBag.Title = "Image";
}

@model ImageEmotions.Models.EmotionsViewModel

<div class="jumbotron">
    <h2>Image Emotions</h2>
    @*<p class="lead">Upload, drag, or take a photo and submit</p>*@
</div>

@*<div class="form-group row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <img id="uploadPreview" style="max-width:100%" />
    </div>
</div>*@

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group row" id="target">
        @*<div >You can drag an image file here</div>*@
        @*<label for="file" class="control-label col-md-2">Image:</label>*@
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
            <input type="file" name="file" id="file" class="form-control" accept="image/*" onchange="PreviewImage();" />
        </div>
    </div>

    //TODO: Support URls
    <div class="form-group row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
            @*<input type="file" name="file" id="file" class="form-control" accept="image/*" onchange="PreviewImage();" required />*@
            <input type="url" name="url" id="url" class="form-control"/>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
            <input type="submit" class="btn btn-primary form-control" />
        </div>
    </div>

}

@* Image Preview *@
<script type="text/javascript">

    function PreviewImage() {
        var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("file").files[0]);

        oFReader.onload = function (oFREvent) {
            document.getElementById("uploadPreview").src = oFREvent.target.result;
        };
    };

</script>

@* Image upload *@
<script type="text/javascript">
    const target = document.getElementById('target');

    target.addEventListener('drop', (e) => {
        e.stopPropagation();
        e.preventDefault();

        //doSomethingWithFiles(e.dataTransfer.files);
    });

    target.addEventListener('dragover', (e) => {
        e.stopPropagation();
        e.preventDefault();

        e.dataTransfer.dropEffect = 'copy';
    });

</script>