@{
    ViewBag.Title = "Image";
}

@model ImageEmotions.Models.EmotionsViewModel

<div id="upload" class="section row">
    <div class="col-xs-12">
        <h2 class="color-primary">Emotion scanner</h2>
    </div>
    <div class="col-md-6">
        @*<div class="jumbotron">
            <h2>whats this</h2>*@
        <div id="instructions">
            <p class="lead color-secondary">
                Upload, or take a photo and an AI will determine what you are feeling.
                <br />
                Try expressing something like surprise, happiness, anger.
            </p>
        </div>
        @*</div>*@

        <div id="loading" class="section row">
            <div class="col-xs-12 col-sm-offset-1 col-sm-10">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i>
                <br />
                <p class="processing">
                    Thinking...
                </p>
            </div>
        </div>

        <div id="results" class="section row">
            <div class="col-xs-12 col-sm-offset-1 col-sm-10">
                <div id="results-content">

                </div>

                <input type="button" id="repeat" class="btn btn-success form-control" value="Again" />
            </div>
        </div>

    </div>

    <div class="col-md-4 col-md-offset-1">
        <img src="~/Images/user_placeholder.svg" id="user-image" />

        <form class="form-horizontal">
            <div class="form-group" id="target">
                <label class="btn btn-default btn-file select-photo">
                    <span id="image-selection">CHOOSE AN IMAGE</span> <input type="file" name="file" id="file" style="display: none;" accept="image/*" />
                </label>
            </div>
        </form>

        <div class="help-block"></div>
    </div>
</div>





@* Image Submit *@
<script type="text/javascript">

    AOS.init();

    var url = "@Url.Action("SubmitFile", "Home")";

    $(function () {

        $("#results").hide();
        $("#loading").hide();

        $("#file").change(function (e) {
            if ($("#file")[0].files.length > 0) {

                $(".help-block").addClass("hidden");

                //set image
                var file = new FormData($('form').get(0));
                $("img#user-image")[0].src = URL.createObjectURL(this.files[0]);

                $("#instructions").slideUp(function () {
                    $("#loading").slideDown();
                });

                var processing = setInterval(updateProcessingText, 3500);

                $.ajax({
                    url: url,
                    type: 'POST',
                    data: file,
                    cache: false,
                    processData: false,
                    contentType: false,
                    success: function (data) {

                        if (data.error == null) {
                            $("#results").html(data.view);
                            $("#loading").slideUp(function () {
                                $("#results").fadeIn();
                                $("#image-selection").html("CHOOSE ANOTHER");
                            });
                        }
                        else {
                            $(".help-block").html("Oops. Something went wrong :(</br>Ensure a face is clearly visible in the image.")
                            $(".help-block").removeClass("hidden");

                            $("#loading").slideUp(function () {
                                $("#instructions").slideDown();
                            });

                            clearInterval(processing)
                        }
                    }
                })
            }
            else {
                $(".help-block").removeClass("hidden");
            }

        })

        //not needed? make this work with resubmitting
        $("#repeat").click(function (e) {

            $("#file").val("");

            $(".help-block").addClass("hidden");
            $("#results").hide();
            $("#upload").show();

        })

        var index = 0;
        function updateProcessingText() {
            var text = "";
            index++;

            if (index == 1)
                text = "Processing..."
            else if (index == 2)
                text = "Analyzing..."
            if (index == 3) {
                text = "Thinking..."
                index = 0
            }

            $(".processing").html(text);
        }

    })
</script>

<script type="text/javascript">

@* Image Preview *@

    function PreviewImage() {
        var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("file").files[0]);

        oFReader.onload = function (oFREvent) {
            document.getElementById("uploadPreview").src = oFREvent.target.result;
        };
    };



@* Image upload *@

    const target = document.getElementById('target');

    target.addEventListener('drop', (e) => {
        e.stopPropagation();
        e.preventDefault();

        //doSomethingWithFiles(e.dataTransfer.files);
    });

    target.addEventListener('dragover', (e) => {
        e.stopPropagation();
        e.preventDefault();

        e.dataTransfer.dropEffect = 'copy';
    });

</script>
