@{
    ViewBag.Title = "Image";
}

@model ImageEmotions.Models.EmotionsViewModel

<div class="jumbotron">
    <h2>Image Emotions</h2>
    <p class="lead">Upload, drag, or take a photo and submit</p>
</div>

@*<div class="row"></div>*@
<div class="col-xs-12 col-sm-offset-1 col-sm-10">

    <div id="loading" class="loading">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i>
        <br />
        <p class="processing">
            Processing... This may take a while.
        </p>
    </div>

    <div id="results"></div>

    @*@using (Html.BeginForm("SubmitFile", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
        {*@
    <div id="buttons">
        <form class="form-horizontal">
            <div class="form-group" id="target">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-5 col-xs-12">
                        <label class="btn btn-default btn-file">
                            Browse <input type="file" name="file" id="file" style="display: none;" accept="image/*" />
                        </label>
                    </div>

                    <div class="col-md-2 col-xs-12 text-center">
                        <p class="or-text">OR</p>
                    </div>

                    <div class="col-md-5 col-xs-12">
                        <input type="text" name="text" id="text" class="form-control" onchange="PreviewUrl();" placeholder="Enter image URL" />
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-2 col-md-offset-5 col-sm-8 col-sm-offset-2 col-xs-12">
                    <input type="button" id="submit" class="btn btn-success form-control" value="Submit" />
                    <span class="help-block hidden">No image found</span>
                </div>
            </div>
        </form>
    </div>
</div>
@*}*@

@* Image Submit *@
<script type="text/javascript">

    AOS.init();

    var url = "@Url.Action("SubmitFile", "Home")";

    $(function () {

        $("#results").hide();
        $("#loading").hide();

        $("#file").on("click", function () {
            $("#text").removeClass("success");
            $(".btn-file").addClass("success");
            $(".help-block").addClass("hidden");
            //$("#text").val("");
        })

        $("#text").on("focus", function () {
            $(".btn-file").removeClass("success");
            $("#text").addClass("success");
            //$("#file")[0].files = null;

            //todo: if cancel - reverse it
        })

        $("#submit").click(function (e) {

            if ($("#file")[0].files.length > 0) {

                //hide controls
                $("#buttons").slideUp(function () {
                    $("#loading").slideDown();
                });

                //add loading

                $(".help-block").addClass("hidden");
                var file = new FormData($('form').get(0));

                $.ajax({
                    url: url,
                    type: 'POST',
                    data: file,
                    cache: false,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        //hide loading

                        //display results
                        $("#results").html(data.view);
                        //$("#results").show();
                        $("#loading").slideUp(function () {
                            $("#results").slideDown();
                        });                        
                    }
                })
            }
            else {
                $(".help-block").removeClass("hidden");
            }

        })

        //$("#repeat").click(function (e) {

        //    $("#file")[0].files.clear();

        //    $(".help-block").addClass("hidden");
        //    $("#results").hide();
        //    $("#buttons").show();

        //})

    })
</script>

@* Image Preview *@
<script type="text/javascript">

    function PreviewImage() {
        var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("file").files[0]);

        oFReader.onload = function (oFREvent) {
            document.getElementById("uploadPreview").src = oFREvent.target.result;
        };
    };

</script>

@* Image upload *@
<script type="text/javascript">
    const target = document.getElementById('target');

    target.addEventListener('drop', (e) => {
        e.stopPropagation();
        e.preventDefault();

        //doSomethingWithFiles(e.dataTransfer.files);
    });

    target.addEventListener('dragover', (e) => {
        e.stopPropagation();
        e.preventDefault();

        e.dataTransfer.dropEffect = 'copy';
    });
</script>