@{
    ViewBag.Title = "Image";
}

@model ImageEmotions.Models.EmotionsViewModel

<div class="jumbotron">
    <h2>Image Emotions</h2>
    <p class="lead">Upload, drag, or take a photo and submit</p>
</div>

<div id="results"></div>

@*@using (Html.BeginForm("SubmitFile", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {*@
<div id="buttons">
    <form class="form-horizontal">
        <div class="form-group row" id="target">
            <div class="col-md-8 col-md-offset-2">
                <div class="col-md-5 col-xs-12">
                    <label class="btn btn-default btn-file">
                        Browse <input type="file" name="file" id="file" style="display: none;" accept="image/*" />
                    </label>
                </div>

                <div class="col-md-2 col-xs-12 text-center">
                    <p class="or-text">OR</p>
                </div>

                <div class="col-md-5 col-xs-12">
                    <input type="text" name="text" id="text" class="form-control" onchange="PreviewUrl();" placeholder="Enter image URL" />
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-2 col-md-offset-5 col-sm-8 col-sm-offset-2 col-xs-12">
                <input type="button" id="submit" class="btn btn-success form-control" value="Submit" />
            </div>
        </div>
    </form>
</div>
@*}*@

@* Image Submit *@
<script type="text/javascript">

    $(function () {

        $("#submit").click(function (e) {

            var url = "@Url.Action("SubmitFile", "Home")";
            //var data = $('#file')[0];
            var file = new FormData($('form').get(0));

            $.ajax({
                url: url,
                type: 'POST',
                data: file,
                cache: false,
                processData: false,
                contentType: false,
                success: function (data) {
                    $("#results").html(data.view);
                }
            })

        })

    })
</script>

@* Image Preview *@
<script type="text/javascript">

    function PreviewImage() {
        var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("file").files[0]);

        oFReader.onload = function (oFREvent) {
            document.getElementById("uploadPreview").src = oFREvent.target.result;
        };
    };

</script>

@* Image upload *@
<script type="text/javascript">
    const target = document.getElementById('target');

    target.addEventListener('drop', (e) => {
        e.stopPropagation();
        e.preventDefault();

        //doSomethingWithFiles(e.dataTransfer.files);
    });

    target.addEventListener('dragover', (e) => {
        e.stopPropagation();
        e.preventDefault();

        e.dataTransfer.dropEffect = 'copy';
    });
</script>