@{
    ViewBag.Title = "Image";
}

@model ImageEmotions.Models.EmotionsViewModel

<div class="form-group row">
    <div class="col-md-8 col-md-offset-2">
        <img id="uploadPreview" />
    </div>
</div>

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group row" id="target">
        @*<div >You can drag an image file here</div>*@
        @*<label for="file" class="control-label col-md-2">Image:</label>*@
        <div class="col-md-8 col-md-offset-2">
            <input type="file" name="file" id="file" class="form-control" accept="image/*" capture="user" onchange="PreviewImage();" required />

        </div>
    </div>

    //TODO: Support Urls
    @*<div class="form-group row">
            <label for="url" class="control-label col-md-2">Image:</label>
            <div class="col-md-10">
                <input type="url" name="url" id="url" class="form-control" />
            </div>
        </div>*@

    <div class="form-group row">
        <div class="col-md-8 col-md-offset-2">
            <input type="submit" class="btn btn-default form-control" />
        </div>
    </div>

}

@* Image Preview *@
<script type="text/javascript">

    function PreviewImage() {
        var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("file").files[0]);

        oFReader.onload = function (oFREvent) {
            document.getElementById("uploadPreview").src = oFREvent.target.result;
        };
    };

</script>

@* Image upload *@
<script type="text/javascript">
    const target = document.getElementById('target');

    target.addEventListener('drop', (e) => {
        e.stopPropagation();
        e.preventDefault();

        //doSomethingWithFiles(e.dataTransfer.files);
    });

    target.addEventListener('dragover', (e) => {
        e.stopPropagation();
        e.preventDefault();

        e.dataTransfer.dropEffect = 'copy';
    });
</script>