@model ImageEmotions.Models.EmotionsViewModel

<div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">

        @if (Model.Emotions != null)
        {
            <div class="progress-bars">
                @*foreach (var emotion in Model.Emotions)
                    {
                    @Html.Partial("ImageFace", emotion.Face)*@

                @foreach (var score in Model.Emotions.Scores)
                {
                    @Html.Partial("EmotionSlider", score)
                }
            </div>
        }
        else
        {
            <div>
                <p>No Face detected in image.</p>
            </div>
        }

        <input type="button" id="repeat" class="btn btn-success form-control" value="Again" />
        @*@Html.ActionLink("Back", "Index", null, new { @class = "form-control" })*@

    </div>

</div>

<script type="text/javascript">
    $("#repeat").click(function (e) {

        $("#file").val("");

        $(".help-block").addClass("hidden");
        $("#results").hide();
        $("#buttons").show();

    })
</script>