html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../Images/emotional-wallpaper.jpg');
    background-size: cover;
    background-position: center 70%;
}

.body-content {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px;
    min-height: 100%
}

.dl-horizontal dt {
    white-space: normal;
}

.loading {
    color: white;
    text-align: center;
    padding-top: 50px;
}

    .loading i {
        color: #ff3600;
    }

.processing {
    padding-top: 25px;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.jumbotron {
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    min-height: 100%;
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -60px;
}

.footer,
.push {
    height: 20px;
    color: white;
}

.footer p {
    margin-left: 10px;
}

#submit {
    margin-top: 20px;
}

footer a {
    color: lightgreen;
}

footer p {
    margin: 0;
}

.jumbotron {
    background-color: #00000000;
    color: white;
    padding-top: 0px;
    padding-bottom: 0px;
}

#results {
    color: white;
}

#buttons {
    padding-top: 20px;
    text-align:center;
}

#submit {
    width:80%;
}

.jumbotron h2 {
    font-size: 48px;
    font-weight: 100;
}

.or-text {
    color: goldenrod;
    font-size: 24px;
    font-weight: bold;
}

.help-block {
    color: orangered;
}
/*progress bars value align center */
.progress {
    text-align: center;
}

.progress-value {
    position: absolute;
    right: 0;
    left: 0;
}

.progress-bars {
    color: #333;
}

.btn-file, #text {
    border: solid 2px;
}

    .btn-file.success, #text.success {
        color: #ff3600;
    }

/*red #FF8E7D*/
.progress-bar-anger {
    background-color: #FF8E7D;
}

/*orange #FFC36D*/
.progress-bar-contempt {
    background-color: #FFC36D;
}

/*yellow #FFDF67*/
.progress-bar-happiness {
    background-color: #FFDF67;
}

/*lime #A3D971*/
.progress-bar-surprise {
    background-color: #A3D971;
}

/*green #55BBA7*/
.progress-bar-disgust {
    background-color: #55BBA7;
}

/*purple #B490B6*/
.progress-bar-fear {
    background-color: #B490B6;
}

/*blue #80BBE7*/
.progress-bar-sadness {
    background-color: #80BBE7;
}

/*pink #F6B4C8*/
.progress-bar-neutral {
    background-color: #F6B4C8;
}




/*---Stream---*/

video {
    width: 100%;
}

/*TODO: clean up alignment and size*/
#container {
    margin: 0px auto;
    width: 100%;
    border: 10px #333 solid;
}

#sliding-container {
    margin: 0px auto;
    width: 100%;
    height: 100%;
    border: 10px #333 solid;
}

#videoElement {
    background-color: #666;
}

#grabFrameCanvas {
    /*display:none;*/
    visibility: collapse;
    height: 300px;
}

#canvas1, #canvas2, #canvas3 {
    width: 100%;
}


/*@media*/

.btn-file {
    width: 100%;
}

#file {
    width: 100%
}
