@model ImageEmotions.Models.EmotionScore

@{
    ViewBag.Title = "Error";
}

<div class="form-group progress">
    <span class="progress-value">@(Model.value.ToString("0.##"))% @(Model.key)</span>
    <div class="progress-bar progress-bar-@(Model.key)" role="progressbar" aria-valuenow="@(Model.value)"
         aria-valuemin="0" aria-valuemax="100" style="width:@(Model.value)%">
    </div>
</div>